.content{
    max-width: 650px;
    margin:auto
}

.logo{width:210px;
    position:relative;
    left:50px;
    background:transparent;
}

    .side{
    widows:25px;
    position: relative;
    right:280px;
    font-size:20px;
    
    }

.My-pic{
    position: relative;
    right:280px;
    width:150px;
    height:150px;
}

h1{color:lightslategray;
}

.Cover-latter{
    font-family:Andalus;
    border:dashed lightskyblue
}
.Hat-pic{
    width: 300px;
    position: absolute;
    left:10px;
    margin:auto;
    float: left;
}

.WE-pic{
    width: 300px;
    position: absolute;
    left:10px;
    float: left;
}
.Academic-details{
    inline-size: 600px;
    font-size: 20px}

.work-exp{
width: 300px;
position: absolute;
left:10px}

h2{
font-size: 35px;
inline-size: 640px;}

.habit-pic{
    width: 300px;
    position: absolute;
    left:10px;}

.table{
    border-bottom-style:dashed;
    font-size:20px;
    margin-top:60px;
    right: 300px;
    padding-top: 25px;
    padding-bottom: 25px;

}
    

.ending{ word-spacing: 15px;
    padding:15px;
    font-size:20px ;
    background-color:rgba(0, 0, 218, 0.356)
 }